<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Wi-Fi permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" 
                     android:usesPermissionFlags="neverForLocation"
                     tools:targetApi="s" />

    <!-- Battery and background operation -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
<!--    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher_fixed"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:roundIcon="@mipmap/ic_launcher_fixed_round"
            android:theme="@style/Theme.GoSleep"
            tools:targetApi="31">

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.GoSleep"
                android:launchMode="singleInstance"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
        <activity
                android:name=".ui.FullScreenAlarmActivity"
                android:label="@string/title_activity_alarm"
                android:exported="true"
                android:theme="@style/Theme.GoSleep"
                android:showOnLockScreen="true"
                android:turnScreenOn="true"
                android:showWhenLocked="true"
                android:launchMode="singleInstance"
                android:noHistory="true"
        />
        <receiver android:name=".service.AlarmReceiver" android:exported="true" android:permission="android.permission.USE_EXACT_ALARM">

        </receiver>
        <receiver android:name=".service.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.GeofenceReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GEOFENCE_TRANSITION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${MAPS_API_KEY}"/>
    </application>


</manifest>
